
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 138.7rem;
}.login-6GU {
  width: 100%;
  height: 107.7rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:14e1445e11aa65ed3e8fddd51d2b4aeeb9683de9');
  background-color: rgba(255, 255, 255, 0.1000000015);
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  .rectangle-1-3b2 {
    left: 43.7rem;
    top: 20.1rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1.5rem;
    width: 51.2rem;
    height: 58.1rem;
    position: absolute;
  }
  .sign-up-ExL {
    white-space: nowrap;
    width: 5.7rem;
    height: 1.4rem;
    position: absolute;
    left: 66.5rem;
    top: 68.2rem;
    font-weight: 300;
    color: #0984e3;
    font-size: 1.4rem;
    line-height: 1;
    font-family: Inter, 'Source Sans Pro';
  }
  .or-sign-up-using-VNU {
    height: 1.4rem;
    top: 64.9rem;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1;
    white-space: nowrap;
    width: 10.6rem;
    position: absolute;
    left: 64rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .download-1-9xp {
    position: absolute;
    left: 64.4rem;
    top: 27.6rem;
    object-fit: cover;
    vertical-align: top;
    width: 9.9rem;
    height: 2.9rem;
  }
  .login-HJL {
    font-weight: 300;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 66rem;
    font-size: 2.6rem;
    position: absolute;
    top: 31.6rem;
    color: #000000;
    width: 6.7rem;
    height: 3.2rem;
  }
  .rectangle-2-ygx {
    background-color: #0984e3;
    border-radius: 4rem;
    width: 19.3rem;
    height: 4.9rem;
    position: absolute;
    left: 59.7rem;
    top: 58.1rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  }
  .login-tJ8 {
    top: 59.7rem;
    font-size: 1.4rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.7rem;
    left: 67.4rem;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
    height: 1.4rem;
    position: absolute;
  }
  .forgot-password-NUC {
    height: 1.5rem;
    left: 79rem;
    top: 54rem;
    font-size: 1.2rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 10.2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #8c8c8c;
    position: absolute;
  }
  .group-1-468 {
    width: 37.9rem;
    height: 19.2rem;
    position: absolute;
    left: 50.4rem;
    top: 36.9rem;

    .ob-forms-usernae-aaG {
      overflow: hidden;
      width: 37.9rem;
      height: 7.4821rem;
      position: absolute;
      left: 0;
      top: 0.1179rem;

      .usernae-h96 {
        height: 2.8rem;
        line-height: 2;
        white-space: nowrap;
        top: 0;
        font-size: 1.4rem;
        font-weight: 300;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 6.7rem;
        position: absolute;
        left: 0;
      }
      .frame-RKz {
        box-sizing: border-box;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #9f9f9f;
        padding: 1rem 1.5rem;
        line-height: 2;
        color: #a1a1a1;
        white-space: nowrap;
        background-color: #ffffff;
        width: 37.9rem;
        position: absolute;
        left: 0;
        top: 2.6821rem;
        border-radius: 0.5rem;
        height: 4.8rem;
        overflow: hidden;
        font-size: 1.4rem;
      }
    }
    .ob-forms-password-q8p {
      width: 37.9rem;
      height: 7.4786rem;
      position: absolute;
      left: 0;
      top: 9.1214rem;
      overflow: hidden;

      .password-wBr {
        line-height: 2;
        height: 2.8rem;
        position: absolute;
        top: 0;
        font-size: 1.4rem;
        font-weight: 300;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.4rem;
        left: 0;
      }
      .frame-CNg {
        padding: 1rem 1.5rem;
        height: 4.8rem;
        position: absolute;
        left: 0;
        color: #a1a1a1;
        box-sizing: border-box;
        top: 2.6786rem;
        overflow: hidden;
        border: solid 0.1rem #9f9f9f;
        width: 37.9rem;
        line-height: 2;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 400;
        white-space: nowrap;
        background-color: #ffffff;
        border-radius: 0.5rem;
      }
    }
    .group-3-3u6 {
      height: 10.7554rem;
      position: absolute;
      left: 34.7176rem;
      top: 4.1805rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 1.5784rem;

      .vector-mKJ {
        height: 1.6226rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 7.0031rem;
        width: 1.5784rem;
      }
      .vector-6cU {
        width: 1.5784rem;
        height: 2.1297rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
